@import "./variables.scss";

.button {
  display: block;
  height: 8vw * $size;
  position: relative;
  width: 8vw * $size;
  &:after {
    animation: pulse $speed * 2.5 ease-out 0.8s $pulses;
    background: $colour;
    border-radius: 50% 50%;
    box-sizing: border-box;
    content: "";
    height: 100%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 100%;
    z-index: 0;
  }
}

.dot {
  animation: dotin 0.3s ease-in forwards,
    hide_dot $speed steps(1, end) 0.5s forwards;
  background: $colour;
  border-radius: 50% 50%;
  box-sizing: border-box;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 4;
}
.content {
  animation: content_fade $speed 0.3s ease-in forwards,
    content_pulse $speed * 5 linear 0.8s ($pulses / 2);
  color: $white;
  height: 100%;
  opacity: 0;
  position: absolute;
  transform: rotate(-10deg) scale(1.2);
  transform-origin: center center;
  width: 100%;
  z-index: 5;
}
.plus {
  animation: plus ($speed / 2) (($speed * 2.5) * round($pulses * 0.4) + 0.8s)
      ease-out forwards,
    plus ($speed / 2) (($speed * 2.5) * round($pulses * 0.8) + 0.8s) ease-in
      forwards reverse,
    plus ($speed / 2) (($speed * 2.5) * $pulses + 0.2s) ease-out forwards;
  display: block;
  font-family: Courier, monospace;
  font-size: 6vw * $size;
  height: 100%;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 100%;
  &:before,
  &:after {
    background-color: white;
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:before {
    height: 40%;
    width: 6%;
  }
  &:after {
    height: 6%;
    width: 40%;
  }
}

.tap {
  animation: tap ($speed / 2) (($speed * 2.5) * round($pulses * 0.4) + 0.8s)
      ease-in forwards,
    tap ($speed / 2) (($speed * 2.5) * round($pulses * 0.8) + 0.8s) ease-out
      forwards reverse;
  font-family: $fontButton;
  font-size: 2vw * $size;
  font-weight: bold;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

// Animate small blue dot in
@keyframes dotin {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

// Pulse for blue transparent background dot
@keyframes pulse {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  1% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.9);
  }
  80% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
  }
}

// Animate plus symbol out to bring in the tap text, also used to fade out at end
@keyframes plus {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

// Animate tap text
@keyframes tap {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

// Pulse for plus and tap content
@keyframes content_pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.3);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

// Fade out content on end
@keyframes content_fade {
  0% {
    opacity: 0;
    transform: rotate(-10deg) scale(1.2);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

// hide dot after big dot has animated in
// so when animating out small dot is gone
@keyframes hide_dot {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
