@import "./variables.scss";
.nameplate {
  font-family: $fontName;
  font-size: 1.8vw;
  font-weight: bold;
  line-height: 1.8vw;
  margin-left: 0.8vw;
  max-width: 30vw;
  position: relative;
  // Arrow after element
  &:after {
    animation: arrow $speed 0.3s ease-in forwards,
      arrow $speed (($speed * 2.5) * ($pulses - 1) + 0.4s) ease-out forwards
        reverse;
    border: solid transparent;
    border-right-color: white;
    border-width: 0.8vw;
    content: " ";
    height: 0;
    margin-top: -0.8vw;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
  }
}
.nameplate__content {
  display: block;
  overflow: hidden;
  position: realtive;
  &:after {
    animation: nameplate $speed 0.3s ease-in forwards,
      nameplate $speed (($speed * 2.5) * ($pulses - 1) + 0.4s) ease-out forwards
        reverse;
    background-color: white;
    border-radius: 0.3vw;
    border-radius: 0.3vw 5vw 5vw 0.3vw;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0, 1);
    transform-origin: left center;
    width: 100%;
    z-index: 0;
  }
}
.nameplate__text {
  animation: text_in $speed (0.3s + $speed) ease-in forwards,
    text_out $speed (($speed * 2.5) * ($pulses - 1) + 0.4s) ease-out forwards;
  color: $colour;
  display: block;
  min-width: 100%;
  opacity: 0;
  padding: 1.5vw;
  position: relative;
  transform: translateY(-100%);
  white-space: nowrap;
  z-index: 1;
}

// Animate arrow
@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

// Animate white background box in
@keyframes nameplate {
  0% {
    border-radius: 0.3vw 5vw 5vw 0.3vw;
    transform: scale(0, 1);
  }
  80% {
    border-radius: 0.3vw 5vw 5vw 0.3vw;
    transform: scale(1.1, 1);
  }
  100% {
    border-radius: 0.3vw;
    transform: scale(1, 1);
  }
}

// Animate text in
@keyframes text_in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

// Animate text out
@keyframes text_out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
